@tailwind base;
@tailwind components;
@tailwind utilities;

/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1eeef;
  /*background: #945671;*/
 /* background: #426889;*/
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}

/* homepage */
.home {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.campaign-details {
  background: #d8d9d9;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.campaign-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.campaign-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

div.stack {
   margin-left: 40px;
}

/*.campaign-details span.edit*/
div.delete {
  position: absolute; 
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

/*.campaign-details span */
div.edit {
  position: absolute;
  top: 20px;
  right: 70px; 
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

label, input {
  display: block;
  
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select.sel {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

form h3{
  font-weight: bold;
  font-size: 24px;
  color: #7b1067;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.outline-success {
  height: 20px;
}
div.searchbutton {
  margin-right: 35px;
  padding: 10px;
  height: 20px;
}

/* new campaign form */

.cform {
  padding: 10px;
  width: 300px;

}

/* new Addstock form */

.sform {
  padding: 13px;
  width: 300px; 

}



/* Addstock page */
.addstock {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.stock-details {
  background: #d8d9d9;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  /*width: 400px;
  height: 230px;*/
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.stock-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.stock-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
/*.stock-details span.edit*/
div.delete {
  position: absolute; 
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

/*.campaign-details span */
div.edit {
  position: absolute;
  top: 20px;
  right: 70px; 
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

label, input {
  display: block;
  
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

select.sel {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.outline-success {
  height: 20px;
}
div.searchbutton {
  margin-right: 35px;
  padding: 10px;
  height: 20px;
}


/* new discount form */

.dform {
  padding: 13px;
  width: 260px; 

}

/* discount page */
.discount {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.discounts {
  max-width: 1200px;
  padding: 0px;
  margin: -2% auto;
  margin-right: 85px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 0px;
}

.discount-details {
  background: #d8d9d9;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 250px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.discount-details h4 { 
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary); 
}
.discount-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
/*.stock-details span.edit*/
div.delete {
  position: absolute; 
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

/*.campaign-details span */
div.edit {
  position: absolute;
  top: 20px;
  right: 70px; 
  cursor: pointer;
  background: #f1f1f1;
  padding: 3px;
  border-radius: 50%;
  color: #333;
}

/* Monthlystocks page */
.Monthlystocks {
  width: 500px;
  height: 20px;
  padding: 0px;
  margin: 0 auto;
  margin: 0 -220px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Monthlyreport page */
.Monthlycampaigns {
  width: 700px;
  padding: 0px;
  margin: 0 -20px;
  margin-right: 50px;
  display: relative;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.HomeCSD {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.HomeDiscounts {
  width: 300px;
  padding: 0px;
  margin: -91% -2%;
  display: relative;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* Home Campaigns */
.HomeCampaigns {
  font-size: 15px;
  width: 350px;
  padding: 0px;
  margin: 0 325px;
  margin-right: 50px;
  display: relative;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

/* Home Stocks page */
.HomeStocks {
  width: 500px;
  height: 650px;
  padding: 0px;
  margin: 0 auto;
  margin: 0 -210px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.Report-details {
  background: #d8d9d9;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.Report-details h2 {
    font-size: 35px;
}
.Report-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.Report-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.checkboxmargin {
  margin-left: 700px;
}
.Micon {
  padding: 8px;
  font-size: 30px;
  background: #7b436e;
  /*background: #1aac83;*/
  border-radius: 14px;
}

.Micon h2 {
  margin-left: 280px;
}

.checkbox h2 {
    margin-left: 10px;
    font-size: 20px;
} 


del {
  text-decoration: line-through;
}
 


